*{
    margin: 0;
    padding:0;
    font-family: "Microsoft YaHei"
}
body{
    width: 100%;
    height: 100%;
    background: #060c18;
}
/* 头部css样式 */
.header{
    color: #ffffff;
    width: 100%;
    height:100px;
    background: #112951;
}
.header #logo{
    float: left;
}

.header  #title{
    float: left;
    padding-top: 20px;
    font-family: "KaiTi";
    font-weight: bold;
    font-size: 32px;
}
.header  #eng-title{
    font-weight: lighter;
    display: block;
    margin-top: -5px;
    font-family: "Arial";
    font-size: 10px;
    letter-spacing: -0.75px;
}
.header .divide{
    float: left;
    background: #255daa;
    width:1px;
    height:40px;
    margin:  30px 10px;
}
.header #divide{
    float: right;
    background: #255daa;
    width:1px;
    height:40px;
    margin:  30px 10px;
}
.header #sub-title{
    float: left;
    font-size: 24px;
    font-weight: bold; 
    line-height: 100px;
}
.header #right-wrap{
    float:right;
}
.header #right-title{
    padding-top:20px;
    float:right;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}
.header #divTime{
    float: right;
    font-weight: lighter;
    font-size: 14px;
    
}
.header #duty{
    padding-top: 20px;
    float: right;
    font-size: 18px;
}
.header #tduty{
    padding:5px;
    margin:20px 10px;
    float: right;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius: 3px;
}
/* menu bar  */
.menu-bar{
    position: relative;
    width: 100%;
    height:40px;
    color:#c8dbe9;
    font-size: 16px;
    line-height: 40px;
    background: #1e3a69;
}
.menu-bar #back-bar{
    position: relative;
    list-style: none;
}
.menu-bar #back-bar li {
    float: left;
    position:relative;
    left:35px;
}
.menu-bar #back-bar li a{
    text-decoration: none;
    color:#c8dbe9;
    font-size: 16px;
    line-height: 40px;
}
.menu-bar #back-bar :last-child a{
    text-decoration: underline;
    color: #ffffff;
}
.menu-bar #icon-ul{
    position: relative;
    float:right;
    list-style: none;
}
.menu-bar #icon-ul li{
    float:right;
    line-height: 40px;
}
.menu-bar #icon-ul li img{
    width: 16px;
    height: 16px;
    margin:0 12px;
    cursor: pointer;
}
.menu-bar #icon-ul li img:hover{
    width: 20px;
    height: 20px;
}
/* easyui部分 */
#box {
    position: relative;
    top:40px;
    border: none;
    margin: 0 auto;
    width: 90%;
    height: 800px;
}
#box .a_input{
    width: 200px;
}
.hr{
    margin: 10px 0
}

/* table css */
#a_input{
    margin: 0 auto;
    margin-top:50px;
    width: 90%;
}
#a_input td{
    padding: 10px;
    width: 25%;
    height: 30px;
    line-height: 30px;
    text-align: left;
}
#a_input th{
    padding: 10px;
    height: 50px;
    line-height: 50px;
    text-align: left;
}
#b_input{
    margin: 0 auto;
    margin-top:50px;
    width: 90%;
}
#b_input td{
    padding: 10px;
    height: 30px;
    line-height: 30px;
    text-align: left;
}
#c_input{
    margin: 0 auto;
    margin-top:50px;
    width: 90%;
}
#c_input td{
    padding: 10px;
    height: 30px;
    line-height: 30px;
    text-align: left;
}
.separate{
    width: 10%;
}
/* tree 下拉列表 */
.tree-title{
    position: relative;
    left:-16px;
}
/* panel 面板背景颜色 */
.panel-body{
    background:#112951;
    border: none;
    color: #fff;
}
.combo-panel {
    background: #1e3a69;
    border: #ddd 1px solid;
}
/* border */
.tabs-header, .tabs-scroller-left, .tabs-scroller-right, .tabs-tool, .tabs, .tabs-panels, .tabs li .tabs-inner, .tabs li.tabs-selected .tabs-inner, .tabs-header-bottom .tabs li.tabs-selected .tabs-inner, .tabs-header-left .tabs li.tabs-selected .tabs-inner, .tabs-header-right .tabs li.tabs-selected .tabs-inner{
    border:none;
}