*{
    margin: 0;
    padding:0;
    font-family: "Microsoft YaHei"
}
body{
    width: 100%;
    height: 100%;
    background: #060c18;
}
/* 头部css样式 */
.header{
    color: #ffffff;
    width: 100%;
    height:100px;
    background: #112951;
}
.header #logo{
    float: left;
}

.header  #title{
    float: left;
    padding-top: 20px;
    font-family: "KaiTi";
    font-weight: bold;
    font-size: 32px;
}
.header  #eng-title{
    font-weight: lighter;
    display: block;
    margin-top: -5px;
    font-family: "Arial";
    font-size: 10px;
    letter-spacing: -0.75px;
}
.header .divide{
    float: left;
    background: #255daa;
    width:1px;
    height:40px;
    margin:  30px 10px;
}
.header #divide{
    float: right;
    background: #255daa;
    width:1px;
    height:40px;
    margin:  30px 10px;
}
.header #sub-title{
    float: left;
    font-size: 24px;
    font-weight: bold; 
    line-height: 100px;
}
.header #right-wrap{
    float:right;
}
.header #right-title{
    padding-top:20px;
    float:right;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}
.header #divTime{
    float: right;
    font-weight: lighter;
    font-size: 14px;
    
}
.header #duty{
    padding-top: 20px;
    float: right;
    font-size: 18px;
}
.header #tduty{
    padding:5px;
    margin:20px 10px;
    float: right;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius: 3px;
}
/* 清楚浮动 */
.clear{
    clear: both;
}
/* menu bar  */
.menu-bar{
    position: relative;
    top: -10px;
    width: 100%;
    height:40px;
    color:#c8dbe9;
    font-size: 16px;
    line-height: 40px;
    background: #1e3a69;
}
.menu-bar #back-bar{
    float: left;
    list-style: none;
}
.menu-bar #back-bar li {
    float: left;
    position:relative;
    top:0px;
    left:35px;
}
.menu-bar #back-bar li a{
    text-decoration: none;
    color:#c8dbe9;
    font-size: 16px;
    line-height: 40px;
}
.menu-bar #back-bar :last-child a{
    text-decoration: underline;
    color: #ffffff;
}
.menu-bar #icon-ul{
    position: relative;
    right: 20px;
    float:right;
    list-style: none;
}
.menu-bar #icon-ul li{
    float:right;
    line-height: 40px;
}
.menu-bar #icon-ul li img{
    width: 16px;
    height: 16px;
    margin:0 12px;
    cursor: pointer;
}
.menu-bar #icon-ul li img:hover{
    width: 20px;
    height: 20px;
}
/* 内容样式 */
.conbtn{
    position: relative;
    left:1%;   
    width: 120px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    background: #112951;
    color: #c8dbe9;
    border: #255daa 1px solid;
    border-radius: 5px;
}
#btn1{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #060c18
}
#btn2{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.content{
    
    
    color: #ffffff;
    width: 100%;
    height: 100%;
    background:#060c18;
    position: relative; 
    top: 10px;
    
}
.intro{
    border-radius: 3px;
    width: 98%;
    margin:0px auto;
}
.intro .intro-header{
    background: #112951;
    width: 100%;
    height:60px;
}
.content h1{
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
}
.intro #intro-con{
    width: 100%;
    height:400px;
    background: #1e3a69;
}
.bar{
    border-radius: 3px;
    width: 98%;
    margin:0px auto;
}
.bar .bar-header{
    width: 100%;
    background:#112951;
    height:60px;
}
.bar #bar-con{
    width: 100%;
    height:400px;
    background: #1e3a69;
}
/* 热力图 */
.heatMap{
    opacity: 0;
    color: #ffffff;
    font-size: 26px;
    margin:0px auto;
    width:98%;
    height: 100%;
    background: #060c18;
    position: relative;
    top:10px;
}
.heatMap #heatMap-con{
    width: 100%;
    height: 600px;
}
.ctm-btn{
    margin: 0 130px;
    width: 270px;
    height: 36px;
    border-width: 0px;
    border-radius:3px;
    background: #c5410c;
    cursor:pointer;
    font-size: 14px;
    color: #ffffff;
    outline: none;
    font-weight: bold;
}
#view{
    position: absolute;
    top:480px;
    left:50%;
    margin-left:-370px;
}
#newproj{
    position: absolute;
    top:480px;
    left:50%;
    margin-right:-370px; 
}
