*{
    margin: 0;
    padding:0;
    font-family: "Microsoft YaHei"
}
body{
    width: 100%;
    height: 100%;
    background: #060c18;
}
/* 头部css样式 */
.header{
    color: #ffffff;
    width: 100%;
    height:100px;
    background: #112951;
}
.header #logo{
    float: left;
}

.header  #title{
    float: left;
    padding-top: 20px;
    font-family: "KaiTi";
    font-weight: bold;
    font-size: 32px;
}
.header  #eng-title{
    font-weight: lighter;
    display: block;
    margin-top: -5px;
    font-family: "Arial";
    font-size: 10px;
    letter-spacing: -0.75px;
}
.header .divide{
    float: left;
    background: #255daa;
    width:1px;
    height:40px;
    margin:  30px 10px;
}
.header #divide{
    float: right;
    background: #255daa;
    width:1px;
    height:40px;
    margin:  30px 10px;
}
.header #sub-title{
    float: left;
    font-size: 24px;
    font-weight: bold; 
    line-height: 100px;
}
.header #right-wrap{
    float:right;
}
.header #right-title{
    padding-top:20px;
    float:right;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}
.header #divTime{
    float: right;
    font-weight: lighter;
    font-size: 14px;
    
}
.header #duty{
    padding-top: 20px;
    float: right;
    font-size: 18px;
}
.header #tduty{
    padding:5px;
    margin:20px 10px;
    float: right;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius: 3px;
}
/* menu bar  */
.menu-bar{
    width: 100%;
    height:40px;
    color:#c8dbe9;
    font-size: 16px;
    line-height: 40px;
    background: #1e3a69;
}
.menu-bar #back-bar{
    position: relative;
    float:left;
    list-style: none;
}
.menu-bar #back-bar li {
    float: left;
    position:relative;
    top:0px;
    left:35px;
}
.menu-bar #back-bar li a{
    text-decoration: none;
    color:#c8dbe9;
    font-size: 16px;
    line-height: 40px;
}
.menu-bar #back-bar :last-child a{
    text-decoration: underline;
    color: #ffffff;
}
.menu-bar #icon-ul{
    position: relative;
    float:right;
    list-style: none;
}
.menu-bar #icon-ul li{
    float:right;
    line-height: 40px;
}
.menu-bar #icon-ul li img{
    width: 16px;
    height: 16px;
    margin:0 12px;
    cursor: pointer;
}
.menu-bar #icon-ul li img:hover{
    width: 20px;
    height: 20px;
}
/* content 样式 */
.content{
    color: #ffffff;
    width: 60%;
    margin:0 auto;
    height: 100%;
    background:#060c18;
    position: relative; 
}
.intro{
    width: 100%;
    height:480px;
    margin:0px auto;
    margin-top:140px;
}
.intro .intro-header{
    background: #1e3a69;
    height:60px;
}
.intro h1{
    width: 100%;
    line-height: 60px;
    text-align: center;
}
.intro .intro-con{
    width: 100%;
    height:400px;
    display: flex;
    justify-content: center;
    align-items:center; 
    background: #1e3a69;
}
.intro .intro-con div{
    text-align: center;
    width: 270px;
    height:200px;
    border: #255daa 1px solid;
    background: #060c18;
    margin: 0 20px;
}
.intro .intro-con div button{
    margin: 120px 0;
    cursor: pointer;
    width: 120px;
    height: 36px;
    color: #ffffff;
    line-height: 36px;
    background: #0b2637;
    border: 1px solid #1e3a69;
    border-radius: 3px;
}
/* 编辑按钮 */
.content  button img{
    width: 13px;
    height: 13px;
    margin: 4px 3px -2px 0;
}